body{
    margin: 0;
    overflow-x: hidden; 
    height: 8000px;
    
}
.top{
    
    position: absolute;
    top=0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.top .navbar .nav-item .nav-link {
    padding: 15px;
    color: #fff;
   
}
.top .navbar .nav-item .nav-link .fab{
    padding: 5px;
    color: #fff;
}

main{
  
}
 main .banner{
    background-image: url(../imges/zx.jpg);
   /* width:100%; 
    height: 500px;*/
    background-size: cover;
    background-repeat: no-repeat;
}
main .banner .space{
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 600px;
    color: #fff;
    padding: 118px;
    
}
main .banner .button{
    
    margin-right: 10px;
    padding: 10px 15px;
}
main .banner .button .btn:hover{
    background: #fff;
    
}
main .banner .button .btn span :hover{ color: #000;}

main .banner .row img{
   padding: 110px;
    
    
}

main .tech{
    
    padding: 20px;
   
    
    
}
main .left-border{
    
    border-left: 8px solid #6eddb2;
    height: 30px;
}
* {
  box-sizing: border-box;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
    text-align: center;
}

.slides {
  display: flex;
  text-align: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
    color: #fff;
  background: #6eddb2;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}
main .security{
    
    background: #a015ea;
    height: 500px;
    margin-right: 0px;
    margin-bottom: 40px;
}
main .security .row .card{
   /* margin: 30px;
    padding: 20px;*/
}
main .security .row .card-body{
    margin: 50px;
    padding:20px;
    margin-top: 30px;
    
}


main .wrapper{
    padding: 30px;
    margin: 20px;
    padding-right: 30px;
}
 
main .Client{
    
   background: #a015ea;
    color: #fff;
    
}
footer{
    
   background: #a015ea;
    color: #fff;  
}




















